<!doctype html>
<html  ng-app="mainmodule">
  <head>
    <title>angularjs scaffolding Business App</title>
    <script src="lib/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="lib/ui-grid-3.0.0/ui-grid.js" type="text/javascript"></script>
    <script src="lib/js/bootstrap-3.2.0.js" type="text/javascript"></script>
    <link rel="stylesheet" href="lib/css/bootstrap/bootstrap-3.2.0.css">
    <script src="build/app.js"></script> 

  </head>
  <body>

    <div id="wrapper" class="container">

      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Brand</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Active</a></li>
            <li><a href="#/">Link</a></li>
            <li class="dropdown">
              <a href="#/" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/">Action</a></li>
                <li><a href="#/">Another action</a></li>
                <li><a href="#/">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Dropdown header</li>
                <li><a href="#/">Separated link</a></li>
                <li><a href="#/">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
          </form>
          <ul class="nav navbar-nav navbar-right"  ng-controller="CssController">
            <li><a href="#/">Link</a></li>
            <li class="dropdown">
              <a href="#/" class="dropdown-toggle" data-toggle="dropdown">Select css Theme<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-repeat="theme in themes" ng-href="{{theme.css}}" ng-class="{active: isSelectedTheme(theme)}"> 
                  <a  href="#/" ng-click="selectTheme(theme)">{{theme.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4 ng-bind="title"/></h4>
          </div>
        </div>
        <div class="panel-body">
          <div ng-view></div>
        </div>
      </div>
    </div>
  </body>
</html>
